<app-menu-topo [estaAutenticado]="autenticado"></app-menu-topo>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn" [ngClass]="{'btn-danger': autenticado,
            'btn-success' : !autenticado}" (click)="autenticado = !autenticado">
                {{autenticado ? 'Logoff' : 'Autenticar'}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>